* {
  box-sizing: border-box;
  font-family: "Comfortaa", cursive;
}

body {
  background-color: #ebbb9341;
}

div.container {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin: 2.6rem 0 0 0;
  gap: 2.4rem;
}

form {
  width: 400px;
}

.name {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.email {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.pnumber {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.subject {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0 10px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.message {
  width: 100%;
  padding: 20px;
  padding-bottom: 60px;
  margin: 10px 0 1rem 0;
  display: block;
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.submit {
  float: right;
  padding: 8px 33px;
  margin-bottom: 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  color: white;
  background-color: #3f1400;
  transition-duration: 0.4s;
}

.submit:hover{
  background-color: #ff6600;
}

@media only screen and (max-width: 960px) {
  form {
    width: 22rem;
  }
}

@media only screen and (max-width: 412px) {
  form {
    width: 80%;
  }
}

@media screen and (max-width: 390px) {
  .container {
    padding: 20px;
  }

  form {
    width: 20rem;
  }

  .submit{
    padding: 7px 14px;
  }
}
