* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}

body {
  overflow-x: hidden;
}
/* ------------------------------- GLOBAL STYLES -------------------------------*/

/* Padding below the footer and lighter body text */

/* ------------------------------- HOME -------------------------------*/

.bg-home {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  filter: brightness(0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero {
  padding: 3.4rem;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center; /*Tambahkan baris berikut*/
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 1200px; */
  text-align: center;
  padding: 1.5rem;
}

.hero__heading {
  font-size: 100px;
  margin-bottom: 2rem;
  color: #fff;
  /* text-shadow: 3px 3px 10px #ff5d3d; -2px 1px 30px #ffdaad; */
}

.hero__description {
  font-size: 1.5rem;
  color: #ffffff;
  margin-bottom: 20px;
  text-shadow: -2px 1px 5rem #000000;
}

/* ------------------------------------ Head ------------------------------------ */
/* ------------------------------------ Button ------------------------------------ */
.btn-custom { 
  color: #ffffff; 
  background-color: #279EFF; 
  border-color: #279EFF; 
} 
 
.btn-custom:hover, 
.btn-custom:focus, 
.btn-custom:active, 
.btn-custom.active, 
.open .dropdown-toggle.btn-custom { 
  color: #ffffff; 
  background-color: #0C356A; 
  border-color: #0C356A; 
}
 
.btn-custom .badge { 
  color: #0C356A; 
  background-color: #ffffff; 
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

/* ------------------------------- CUSTOMIZE THE CAROUSEL -------------------------------*/

/* Carousel base class */
.carousel {
  margin-bottom: 5.5rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 36.5rem;
}
.carousel-item > img {
  position: absolute;
  top: -5rem;
  left: 0;
  min-width: 100%;
  height: fit-content;
}

/* ------------------------------- MARKETING CONTENT ------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing {
  padding: 5rem 0;
}

.marketing .col-lg-4 {
  text-align: center;
}
.marketing h2 {
  font-weight: 400;
}
/* rtl:begin:ignore */
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}
/* rtl:end:ignore */

/* ------------------------------- Featurettes -------------------------------*/

.featurette-divider {
  margin: 5rem 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  /* rtl:remove */
  letter-spacing: -0.05rem;
}

/* Services Section */
.services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.services__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

.services__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  height: 425px;
  width: 300px;
  border-radius: 4px;
  transition: 0.3s ease;
  /* ease-i */
  background-position: center;
}

.services__card:nth-child(1) {
  background-image: url(/picture/3.jpg);
}

.services__card:nth-child(2) {
  background-image: url(/picture/2.jpg);
}

.services__card:nth-child(3) {
  background-image: url(/picture/4.jpg);
}

.services__card:nth-child(4) {
  background-image: url(/picture/);
}

.services__card h2 {
  color: #ffffff;
  text-align: center;
}

.services__card p {
  color: #ffffff;
  text-align: center;
  margin-top: 14px;
  font-size: 20px;
}

.services__card:hover {
  transform: scale(1.05);
  transition: 0.2s ease-in;
}

/* Animasi */
/* memberikan trasnsisi dan pergerakan secara horizontal pada class element sekaligus menghilankan elementnya*/
.elemen {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 0.7s ease;
}

/* memunculkan kembali elementnya */
.tampil {
  padding: 0;
  position: relative;
  transform: translateY(0px);
  opacity: 1;
}

/* ------------------------------- RESPONSIVE CSS ------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}

@media only screen and (max-width: 900px) {
  .marketing {
    padding: 14rem 0;
  }

  .bg-home {
    height: 71vh;
  }

  .hero {
    padding: 1.5rem;
  }

  .hero__container {
    padding: 0;
  }

  .hero__heading {
    font-size: 3rem;
  }

  .hero__description {
    font-size: 1rem;
  }

  .main__container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 90%;
  }

  .main__img--container {
    display: flex;
    justify-content: center;
  }

  .main__img--card {
    height: 425px;
    width: 425px;
  }

  .main__content {
    text-align: center;
    margin-bottom: 4rem;
  }

  .main__content h1 {
    font-size: 2.5rem;
    margin-top: 2rem;
  }

  .main__content h2 {
    font-size: 3rem;
  }

  .main__content p {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .carousel-item {
    height: 32rem;
  }

  .carousel-item > img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1.5px);
    top: 0;
    height: 100%;
  }

  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }

  .services__wrapper {
    grid-template-columns: 1fr;
  }

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}
